@use 'partials/reset' as *;
@use 'partials/variables' as *;
@use 'partials/mixins' as *;

/* 
    GENERAL
*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.my-col-2 {
    width: calc((100% / 12) * 2);
}

.my-col-3 {
    width: calc((100% / 12) * 3);
}

.my-col-4 {
    width: calc((100% / 12) * 4);
}

.my-col-6 {
    width: calc((100% / 12) * 6);
}

.my-col-8 {
    width: calc((100% / 12) * 8);
}

.my-col-12 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* 
    APP
*/
ul {
    list-style: none;
}