$mainBlue: #2F55D4;
$mainBgblue: #2F55D41A;
$textBlue: #007BFF;
$secondaryBgBlue: #202942;
$tertiaryBgBlue: #27314F;

$mainGray: #3C4858;
$lightGray: #ADB5BD;
$textGray: #8492A6;
$borderGray: #E9ECEF;

$lightBg: #F8F9FC;

$textGreen: #2ECA8B;

$textRed: #E43F52